.example-container {
    width: 1440px;
    height: 900px;
    margin: 12px;
    border: 1px solid #FFF;
  }

.example-card{
    max-width: 400px;
}

.container{
    display: flex;
    flex-wrap: wrap;
}

.container>*{
    flex: 1 1 300px;
}

