mat-toolbar {
  position: relative;
  z-index: 5;
}

.content{
  padding: 24px;
}

mat-sidenav-container {
  height: calc(100vh - 64px);
}
.sidenav-header {
  text-align: center;
  > img {
    padding-top: 24px;
  }
}

.header-text {
  text-align: center;
  > h1 {
    margin: 0;
    font-size: 2rem;
    color: purple;
    line-height: 1;
  }
  > h2 {
    margin: 0;
    font-size: 1rem;
    color: purple;
    line-height: 1;
  }
  > p {
    margin: 0;
    font-size: 0.8rem;
    color: gray;
  }
}

.hide-header-text{
  opacity: 0;
  height: 0px;
}
