<mat-card>
    <mat-card-header>
        <mat-card-title>Developer:</mat-card-title>
    </mat-card-header>
    <mat-card-header>
        <mat-card-content>
            <mat-card-subtitle>{{Dev}}</mat-card-subtitle>
            <mat-card-subtitle>{{Dev_info}}</mat-card-subtitle>
            <mat-card-subtitle>{{Dep1}}</mat-card-subtitle>
        </mat-card-content>       
    </mat-card-header>

    <mat-card-header>
        <mat-card-title>Research team:</mat-card-title>
    </mat-card-header>
    <mat-card-header>
        <mat-card-content>
            <mat-card-subtitle>{{Research_team}}</mat-card-subtitle>
            <mat-card-subtitle>{{Dep1}}</mat-card-subtitle>
            <mat-card-subtitle>{{Dep2}}</mat-card-subtitle>
        </mat-card-content>       
    </mat-card-header>

    <mat-card-header>
        <mat-card-title>Correspondence:</mat-card-title>
    </mat-card-header>
    <mat-card-header>
        <mat-card-content>
            <mat-card-subtitle>{{Cor}}</mat-card-subtitle>
        </mat-card-content>       
    </mat-card-header>

    <mat-card-header>
        <mat-card-title>Proposal:</mat-card-title>
    </mat-card-header>
    <mat-card-header>
      <mat-card-content>{{content1}}</mat-card-content>
    </mat-card-header>

    <mat-card-header>
        <mat-card-title>Experiments:</mat-card-title>
    </mat-card-header>
    <mat-card-header>
    <mat-card-content>{{content2}}</mat-card-content>
    </mat-card-header>
    <mat-card-content>
        <img  class="map-frame" [src] ="table1" style="width: 600px;height: 400px;"> 
        <mat-card-subtitle>{{table1_description}}</mat-card-subtitle>
    </mat-card-content>

    <mat-card-content>{{content21}}</mat-card-content>
    <mat-card-content>
        <img  class="map-frame" [src] ="fig1" style="width: 600px;height: 600px;"> 
        <mat-card-subtitle>{{fig1_description}}</mat-card-subtitle>
    </mat-card-content>

    <mat-card-header>
        <mat-card-title>Conclusions:</mat-card-title>
    </mat-card-header>
    <mat-card-header>
        <mat-card-content>{{content3}}</mat-card-content>
    </mat-card-header>
</mat-card>

