.container {
    width: 1440px;
    height: 900px;
    margin: 12px;
    border: 1px solid #FFF;
  }
  
  mat-drawer-content {
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
